body {
  background-color: #00060E;
}

@font-face {
  font-family: Valorant;
  src: url('Valorant Font.ttf');
}

.ascent, .bind, .haven, .icebox, .split, .breeze, .team-text, .team-text2 {
  font-family: 'Valorant';
}

.flip-coin-part, .heads-tails-img, .reset-area, .maps, .foot {
  text-align: center;
}

h1 {
  font-family: 'Valorant';
  color: white;
  text-align: center;
  font-size: 3rem;
}

h2 {
  font-family: 'Valorant';
  color: white;
  text-align: center;
  font-size: 1rem;
}

.flip-coin-btn, .reset-btn, .reset-btn-maps, .team-1-class, .team-2-class {
  color: white;
  margin-top: 10px;
}

.flip-coin-btn, .reset-btn, .reset-btn-maps {
  background-color: black;
  font-weight: bold;
  text-decoration: none;
  border-style: none;
  border-radius: 0.25rem;
  margin-top: 1.25;
  font-size: 1.063rem;
}

.flip-coin-btn {
  height: 2.563rem;
  width: 8.813rem;
}

.flip-coin-btn:focus {
  cursor: pointer;
}

.heads-tails-img {
  margin-top: 1.25rem;
}

.reset-area {
  margin-top: 0.625rem;
}

.reset-btn {
  height: 2.188rem;
  width: 8.125rem;
  display: none;
}

.reset-btn:focus {
  cursor: pointer;
}

.maps {
  margin-left: auto;
  margin-right: auto;
}

.map-img {
  width: 10%;
  height: 10%;
  margin: 0.938rem;
}

.map-img: {
  filter: brightness(50%);
}

.ascent, .bind, .haven, .icebox, .split, .breeze {
  background-size: cover;
  background-repeat: no-repeat;
  width: 12.5rem;
  height: 7.063rem;
  border: none;
  color: white;
  text-shadow: black 0.125rem 0.063rem;
  display: inline-block;
  margin: 0.938rem;
  font-size: 1.563rem;
  border-radius: 0.313rem;
}

.ascent:focus, .bind:focus, .haven:focus, .icebox:focus, .split:focus, .breeze:focus {
  outline: none;
  filter: brightness(50%);
}

@keyframes fadeoutani {
  from {
    opacity: 100;
  }

  to {
    opacity: 0;
  }
}

.ascent {
  background-image: url("images/ascent.jpeg");
}

.fadeout {
  animation-name: fadeoutani;
  animation-duration: 1s;
}

.bind {
  background-image: url("images/bind.jpeg");
}

.haven {
  background-image: url("images/haven.jpeg");
}

.icebox {
  background-image: url("images/icebox.jpeg");
}

.split {
  background-image: url("images/split.jpeg");
}

.breeze {
  background-image: url("images/breeze.jpg");
}

.map-instruction, .map-remaining, .footer-text {
  color: white;
  font-family: 'Valorant';
}

.map-instruction, .map-remaining {
  font-weight: bold;
}

.map-instruction {
  margin-top: 4.375rem;
}

.reset-btn-maps {
  height: 2.188rem;
  width: 8.125rem;
}

.reset-btn-maps:focus {
  cursor: pointer;
}

.team-1-class, .team-text, .submit-btn1, .team1name-class {
  float: left;
}

.team-1-class, .team-2-class, .submit-btn1, .submit-btn2 {
  width: 13.125rem;
  height: 1.875rem;
  border-radius: 0.313rem;
  outline: none;
  border: none;
  text-indent: 0.313rem;
  font-family: 'Valorant';
}

.team-1-class, .team-2-class, .team1name-class, .team2name-class {
  border: none;
}

.team-1-class, .team-1-class:focus, .team-2-class, .team-2-class:focus {
  background-color: #182430;
}

.team-1-class {
  color: white;
}

.team-1-class:focus, .team-2-class:focus, .team1name-class:focus, .team2name-class:focus, .flip-coin-btn:focus, .reset-btn:focus, .reset-btn-maps:focus {
  outline: none;
  border: none;
}

.team-2-class, .team-text2, .submit-btn2, .team2name-class {
  float: right;
}

.team-2-class {
  color: white;
}

.select-opt {
  font-size: 1.25rem;
}

.select-opt:disabled {
  font-size: 1.25rem;
  background-color: white;
  color: black;
}

.team-text, .team-text2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 7.813rem;
}

.team-text {
  left: 3.125rem;
  color: white;
}

.team-text2 {
  right: 3.125rem;
  color: white;
}

.team1name-class, .team2name-class {
  height: 1.875rem;
  text-indent: 0.313rem;
  border-radius: 0.313rem;
  font-family: 'Valorant';
}

.team1name-class {
  left: 3.125rem;
}

.team2name-class {
  right: 3.125rem;
}

#coin {
  position: relative;
  margin: 1.25rem auto auto auto;
  width: 13.875rem;
  height: 13.875rem;
  cursor: pointer;
}

#coin div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 125% rgba(255, 255, 255, .3), 0 0.75rem 1.25rem -0.625rem rgba(0, 0, 0, .4);
  -moz-box-shadow: inset 0 0 125% rgba(255, 255, 255, .3), 0 0.75rem 1.25rem -0.625rem rgba(0, 0, 0, .4);
  box-shadow: inset 0 0 125% rgba(255, 255, 255, .3), 0 0.75rem 1.25rem -0.625rem rgba(0, 0, 0, .4);
}


.coin-div {
  text-align: center;
  margin-top: 3.125rem;
}

.side-a {
  background-image: url('images/heads2.png');
  background-repeat: no-repeat;
}

.side-b {
  background-image: url('images/tails2.png');
  background-repeat: no-repeat;
}

#coin {
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}

#coin div {
  position: absolute;
  -webkit-backface-visibility: hidden;
}

.side-a {
  z-index: 100;
}

.side-b {
  -webkit-transform: rotateY(-180deg);
}

#coin.heads {
  -webkit-animation: flipHeads 3s ease-out forwards;
  -moz-animation: flipHeads 3s ease-out forwards;
  -o-animation: flipHeads 3s ease-out forwards;
  animation: flipHeads 3s ease-out forwards;
}

#coin.tails {
  -webkit-animation: flipTails 3s ease-out forwards;
  -moz-animation: flipTails 3s ease-out forwards;
  -o-animation: flipTails 3s ease-out forwards;
  animation: flipTails 3s ease-out forwards;
}

@-webkit-keyframes flipHeads {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }

  to {
    -webkit-transform: rotateY(1800deg);
    -moz-transform: rotateY(1800deg);
    transform: rotateY(1800deg);
  }
}

@-webkit-keyframes flipTails {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }

  to {
    -webkit-transform: rotateY(1980deg);
    -moz-transform: rotateY(1980deg);
    transform: rotateY(1980deg);
  }
}

.team-text2 {
  text-align: right;
}
